USE [LEASINGDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectLocation]    Script Date: 11/9/2023 10:05:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_SelectLocation]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select RecId,Descriptions FROM tblLocationMstr
	UNION
	SELECT -1,'--SELECT--'  
END
