<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name = "CONNECTIONS" connectionString="Server=MARKJASON;Database=LEASINGDB;Integrated Security=True"/>
    <!--<add name="HISConnection" connectionString="Data Source=WAFSQL2016CLUS;Initial Catalog=AMCWAF_HIS;connect timeout=400;Integrated Security=false;User Id=histestuser;Password=histestuser"/>-->
  </connectionStrings>
  <appSettings>
    <!--<add key="ReportPath" value="\\AGHWAFASVR4FA\AMCWAF_HIS\Reports" />
    <add key="EMRReportPath" value="\\aghwafasvr4fa\AMCWAF_EMR_PRO\Reports" />
    <add key="LISReportPath" value="\\aghwafasvr4fa\LIS_WAF\REPORTS" />
    <add key="TemporaryFilePath" value="C:\HMS\PreEmployment" />
    <add key="SubmittedFilePath" value="\\WAFSQL2016CLUS\HIS_Images\AramcoPreEmployment" />
    <add key="FileFilterExtension" value="PDF Files (*.pdf)|" />-->
    <!--<add key="SendEmailTo" value="OMAR.SHALABI@JHAH.com;SAED.ALARAWI@JHAH.com;ibtisam.alobaid@JHAH.com;Leonardo.Magno@almanahospital.com.sa;Elma.Calfoforo@almanahospital.com.sa" />-->
    <!--<add key="SendEmailTo" value="JinHeintji.Letegio@almanahospital.com.sa" />
    <add key="SendEmailCc" value="JinHeintji.Letegio@almanahospital.com.sa" />-->

    <!--||Leonardo.Magno@almanahospital.com.sa-->
    <!--SUPER ADMIN | PRE EMPLOYMENT |-->
    <!--||Leonardo.Magno@almanahospital.com.sa-->
    <!--SUPER ADMIN | PRE EMPLOYMENT |-->
    <!--<add key="AllowedGroup" value="|1|108|76|25|35|109|135|126|106|89|" />

    <add key="AllowSendEmail" value="true" />
    <add key="UseDefaultCredentials" value="false" />
    <add key="EmailSender" value="amc-rakah@almanahospital.com.sa" />
    <add key="EmailUserName" value="CQ6EDn1/EsFgQ3gYEO9eY3TGP98PKEoaeW0uQFF+rqE=" />
    <add key="EmailPassword" value="fpo2AhqbYIDLQVmWaMqXKg==" />

    <add key="XMLSautinSoftLive" value="false" />-->

  </appSettings>
</configuration>

