<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name = "CONNECTIONS" connectionString="Server=MARKJASON;Database=LEASINGDB;Integrated Security=True"/>-->
    <add name="CONNECTIONS" connectionString="Data Source=MARKJASON;Initial Catalog=LEASINGDB;connect timeout=400;Integrated Security=false;User Id=sa;Password=1216012"/>
  </connectionStrings>
  <appSettings>
    <add key="ReportPath" value="C:\REPORTS_RECIEPT\FINAL\" />
    <add key="ClientDocumentPath" value="C:\MyFiles" />
    
    <add key="SqlServerName" value="MARKJASON" />
    <add key="SqlDatabaseName" value="LEASINGDB" />
    <add key="SqlUserID" value="sa" />
    <add key="SqlPassword" value="1216012" />

    <add key="RecieptReportOption" value="true" />
    
    <add key="IsPermission" value="true" />

  </appSettings>



</configuration>

