<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name = "CONNECTIONS" connectionString="Server=MARKJASON;Database=LEASINGDB;Integrated Security=True"/>
    <!--<add name="demo" connectionString="Data Source=demo;Initial Catalog=dbdemo;connect timeout=400;Integrated Security=false;User Id=demouser;Password=demouser"/>-->
  </connectionStrings>
  <appSettings>
    <!--<add key="ReportPath" value="\\demoserver\demofolder\Reports" />
    

    <add key="TemporaryFilePath" value="C:\HMS\PreEmployment" />

    <add key="FileFilterExtension" value="PDF Files (*.pdf)|" />-->
    <!--<add key="SendEmailTo" value="" />-->
    <!--<add key="SendEmailTo" value="" />
    <add key="SendEmailCc" value="" />-->


    <!--<add key="AllowedGroup" value="|1|108|76|25|35|109|135|126|106|89|" />

    <add key="AllowSendEmail" value="true" />
    <add key="UseDefaultCredentials" value="false" />
    <add key="EmailSender" value="" />
    <add key="EmailUserName" value="" />
    <add key="EmailPassword" value="" />

    <add key="XMLSautinSoftLive" value="false" />-->
    
  <add key="IsPermission" value="true" />

  </appSettings>



</configuration>

